#!/bin/bash
{% if queue_type == "slurm" %}#SBATCH -J {{ name }}
#SBATCH --time={{ time }}:00:00
#SBATCH -N {{ nodes }}
#SBATCH --ntasks-per-node {{ ppn }}
#SBATCH -o {{ name }}-%j.out
#SBATCH -e {{ name }}-%j.err
#SBATCH --qos {{ queue }}
#SBATCH --mem={{ mem }}
{% if nodes == 1 and computer == "janus"%}#SBATCH --reservation=janus-serial {% endif %}

{% elif queue_type == "pbs" %}#PBS -j eo
#PBS -l nodes={{ nodes }}:ppn={{ ppn }}{% if computer == "psiops" %}:{{ queue }}{% endif %}
#PBS -l walltime={{ time }}:00:00
#PBS -q {% if computer == "psiops" %}batch{% else %}{{ queue }}{% endif %}
#PBS -N {{ name }}
{% if computer == "peregrine" %}#PBS -A {{ account }}{% endif %}
cd $PBS_O_WORKDIR
echo $PBS_O_WORKDIR
{% endif %}


# Set Environment

source ~/.bashrc_vasp
export OMP_NUM_THREADS={{ openmp }}


python -c "

from custodian.vasp.jobs import *
from custodian.vasp.handlers import *
from custodian.custodian import *
from Classes_Custodian import *
import Upgrade_Run
import logging

FORMAT = '%(asctime)s %(message)s'
logging.basicConfig(format=FORMAT, level=logging.INFO, filename='run.log')

target = {{ target }}
jobtype = '{{ jobtype }}'

if jobtype == 'Standard':
    handlers = [WalltimeHandler({{ time }}*60*60), UnconvergedErrorHandler()]
    job = StandardJob
else:
    raise Exception('Must be STandard VASP run')


def get_runs(max_steps=40):
    energy_1 = 0
    energy_2 = 0
    for i in xrange(max_steps):
        vinput = VaspInput.from_directory('.')
        encut = vinput['INCAR']['ENCUT']
        if i == 0:
            settings = []
        else:
            settings = []
            v = Vasprun('vasprun.xml', parse_dos=False, parse_eigen=False)
            e_per_atom = v.final_energy / len(v.final_structure)
            logging.info(str(encut) + ' completed with ' + str(e_per_atom) + ' eV/atom')
            ediff_1 = abs(e_per_atom - energy_1)
            ediff_2 = abs(e_per_atom - energy_2)
            if ediff_1 < target and ediff_2 < target:
                logging.info('Converged to ' + str(ediff_1) + ' and ' + str(ediff_2) + ' eV/atom!')
                break
            else:
                encut += 25
                energy_2 = energy_1
                energy_1 = e_per_atom
                settings = [
                    {'file': 'CONTCAR',
                     'action': {'_file_copy': {'dest': 'POSCAR'}}},
                    {'dict': 'INCAR',
                     'action': {'_set': {'ENCUT' : encut }}}
                ]

        yield job(['{{ mpi }}', '-np', '{{ tasks }}', '{{ vasp_kpts }}'], '{{ logname }}', auto_npar=False, settings_override=settings, suffix='.' + str(encut), final=False)


c = Custodian(handlers, get_runs(), max_errors=10)
c.run()"
