#!/bin/bash
{% if queue_type == "slurm" %}#SBATCH -J {{ name }}
#SBATCH --time={{ time }}:00:00
#SBATCH -N {{ nodes }}
#SBATCH --ntasks-per-node {{ cores }}
#SBATCH -o {{ name }}-%j.out
#SBATCH -e {{ name }}-%j.err
#SBATCH --mem={{ mem }}
#SBATCH --account={{ account }}
{% if nodes == 1 and computer == "janus"%}#SBATCH --reservation=janus-serial {% endif %}

{% elif queue_type == "pbs" %}#PBS -j eo
#PBS -l nodes={{ nodes }}:ppn={{ cores }}{% if computer == "psiops" %}{% if nodes == 1 %}:gb{% else %}:ib{% endif %}{% endif %}
#PBS -l walltime={{ time }}:00:00
#PBS -q {{ queue }}
#PBS -N {{ name }}
{% if computer == "peregrine" %}#PBS -A {{ account }}{% endif %}
cd $PBS_O_WORKDIR
echo $PBS_O_WORKDIR
{% endif %}


# Set Environment

source ~/.bashrc_vasp
VASP_COMMAND=$VASP_GSM_COMMAND

export OMP_NUM_THREADS={{ openmp }}
export VASP_PROCS={{ tasks }}

$GSM_DIR/gfstringq.exe 0 {{ tasks }} > scratch/paragsm0000

find scratch/ -name POTCAR -execdir sh -c ' pwd ; chgsum.pl AECCAR0 AECCAR2  ; bader CHGCAR -ref CHGCAR_sum  ' \;

exit 0